body{
    margin-right: 5%; 
    margin-left: 5%; 
    text-align: center; 
}

#welcomeContainer {
    width: 60%;
    margin-left: 130px;
}

#applyButtonContainer{
    margin: 35px;
}

#applyButton{
    width: 60%;
    font-size: 1.7rem;
}

